<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
{% include head.html %}
</head>

<body>
    {% assign orderBy = page.orderBy | default: "name" %}
    {% assign sortedTables = site.tables | sort: orderBy %}
    {% for table in sortedTables %}
        {% assign isRelevant = true %}
        {% for tag in page.tags %}
            {% if table.tags contains tag %}
        {% else %}
            {% assign isRelevant = false %}
        {% endif %}
        {% endfor %}
        {% if isRelevant == true %}
            {{ table.content }}
        {% endif %}
    {% endfor %}

<script type="text/javascript">replayTable.magic()</script>
</body>
</html>