<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
{% include head.html %}
<script src="{{ 'assets/scripts/likely.js' | relative_url }}"></script>
<link rel="stylesheet" href="{{ 'assets/styles/likely.css' | relative_url }}">
</head>

<body>
{% include header.html %}

<h3 class="category">{{ page.title }} {{ page.season }}</h3>

<div class="contents">
    <ul class="contents-list">
        {% for linked-table in site.tables %}
        {% if linked-table.sport == page.sport and linked-table.season == page.season and linked-table.name != page.name %}
        <li class="contents-item">
            <a href="{{ page.url | replace: page.name, linked-table.name | remove: '.html' | relative_url }}">{{ linked-table.sport-title | default: linked-table.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

{{ content }}

{% include likely.html %}

<script type="text/javascript">replayTable.magic()</script>
</body>
</html>